.root{
    -fx-background-image: url("/Images/grass.png");
}

Button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#score{
    -fx-graphic: url("/Images/Score_Board.png");
}

Button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
#amit{
    -fx-font-size:30px;
    -fx-background-color: ORANGE;
    -fx-font-family: "David";
    -fx-font-weight: bold;
    -fx-progress-color: BLACK;
    -fx-background-image:  url("/Images/pikachu.png");
}
#welcome1{
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
#welcome2{
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
#mazeDisplayer{
    -fx-background-color: ORANGE;
    -fx-border-color:black ;
    -fx-border-insets:3;
    -fx-border-radius:7;
    -fx-border-width:1.0


}
#newGame{
     -fx-font-size:30px;
     -fx-background-color: ORANGE;
     -fx-font-family: "David";
     -fx-font-weight: bold;
     -fx-progress-color: BLACK;
 }
#Properties{
    -fx-font-size:30px;
    -fx-background-color: ORANGE;
    -fx-font-family: "David";
    -fx-font-weight: bold;
    -fx-progress-color: BLACK;
}
#Howto{
    -fx-font-size:30px;
    -fx-background-color: ORANGE;
    -fx-font-family: "David";
    -fx-font-weight: bold;
    -fx-progress-color: BLACK;
}


